h1{

	font-family:Algerian;
	color:red;
	text-align:center;
}

h2{

	font-family:Courier;
	color:blue;
	text-align:center;
}

h3{

	font-family:Lucide Console;
	color:green;
	text-align:center;
}

h4{

	font-family:Monotype corsiva;
	color:magenta;
	text-align:center;
}